doctype html
html lang='en'
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Save Rinjani!

    scss:
      body {
        background: #222;
        text-align: center;
        padding: 1em 2em;
        font-family: Georgia, serif;
      }

      .b-logo {
        color: #BBB;
        font-size: 2em;
        text-decoration: none;
        clear: both;
        margin: 1em auto;
        display: block;
      }

      .b-desc {
        color: #BBB;
        font-size: 1.25em;
        max-width: 600px;
        margin: 1em auto;
        text-align: left;
        text-indent: 2em;

        a {
          color: #BBB;
        }
      }

      .b-thumb {
        display: inline-block;
        margin: 1em;
        max-width: 300px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0px 0px 4px #444;
      }

    - require_relative "some-code"

    link rel="stylesheet" href="node_modules/photoswipe/dist/photoswipe.css"

    /In the folder of skin CSS file there are also:
    /- .png and .svg icons sprite,
    /- preloader.gif (for browsers that do not support CSS animations) -->
    link rel="stylesheet" href="node_modules/photoswipe/dist/default-skin/default-skin.css"

    script src="node_modules/photoswipe/dist/photoswipe.min.js"

    script src="node_modules/photoswipe/dist/photoswipe-ui-default.min.js"

  body
    a href="https://twitter.com/search?q=saverinjani" class="b-logo"
      | #SaveRinjani

    p.b-desc
      | Rinjani is a beautiful mountain, we need to preserve it! 
      a href='http://www.rudytrekker.com'
        strong Rudy Trekker 
      | is doing a good job of keeping Rinjani clean through trash collection programs and hard work! 
    p.b-desc
      | Our job is not only to pick up trash but also 
      strong educate 
      | others!

    - images.shuffle.each do |src|
      img class="b-thumb" src=src

    /! Root element of PhotoSwipe. Must have class pswp.
    .pswp aria-hidden="true" role="dialog" tabindex="-1"

      /!
        | Background of PhotoSwipe.
        | It's a separate element as animating opacity is faster than rgba().
      .pswp__bg

      /! Slides wrapper with overflow:hidden.
      .pswp__scroll-wrap

        /!
          | Container that holds slides.
          | PhotoSwipe keeps only 3 of them in the DOM to save memory.
          | Don't modify these 3 pswp__item elements, data is added later on.
        .pswp__container
          .pswp__item
          .pswp__item
          .pswp__item

        /! Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar

            /! Controls are self-explanatory. Order can be changed.
            .pswp__counter
            button.pswp__button.pswp__button--close title=("Close (Esc)")
            button.pswp__button.pswp__button--share title="Share"
            button.pswp__button.pswp__button--fs title=("Toggle fullscreen")
            button.pswp__button.pswp__button--zoom title=("Zoom in/out")

            /! Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
            /! element will get class pswp__preloader--active when preloader is running
            .pswp__preloader
              .pswp__preloader__icn
                .pswp__preloader__cut
                  .pswp__preloader__donut

          .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
            .pswp__share-tooltip

          button.pswp__button.pswp__button--arrow--left title=("Previous (arrow left)")
          button.pswp__button.pswp__button--arrow--right title=("Next (arrow right)")

          .pswp__caption
            .pswp__caption__center


    javascript:
      var thumbnails = document.querySelectorAll('.b-thumb');
      var images = [];

      var openGallery = function(event) {
        var index = [].indexOf.call(thumbnails, event.target);
        var options = { index: index };
        var pswpElement = document.querySelectorAll('.pswp')[0];

        var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, images, options);
        gallery.init();
      };

      for(var i=0; i<thumbnails.length; i++) {
        var thumb = thumbnails[i];
        images[i] = {
          src: thumb.src,
          w: 1440,
          h: 810
        };

        thumb.addEventListener('click', openGallery);
      }
